.about {
  background-color: #0d0d11;
  min-height: 100vh;
  padding: 0 0;
  color: #e0e0ce;
  text-align: center;
}
.about > h1 {
  padding: 0;
  background-color: #0d0d11;
  color: #e0e0ce;
  text-align: center;
  display: -webkit-inline-box;
  font-size: 4rem;
}
.colour {
  color: #f2af29;
  font-weight: 700;
}
.written > h2 {
  font-size: 3rem;
  margin-top: 0;
}
.written > p {
  font-size: 1.5rem;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  width: 80%;
  color: #e0e0ce;
  text-align: center;
}
.about .containerr {
  display: inline-flex;
  color: #f2af29;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
.containerr .textt {
  font-size: 3rem;
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typingg 4s ease-in-out infinite,
    cursor 0.4s step-end infinite alternate;
  animation-delay: 2s;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typingg {
  from {
    width: 0;
  }
}

.split {
  height: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.left {
  width: webkit-fill-available;
  left: 0;
  background-color: #0d0d11;
  text-align: center;
  padding-bottom: 0;
}

.right {
  width: -webkit-fill-available;
  justify-content: center;
}
img {
  width: 50%;
  margin: 0 50%;
  padding: 0;
  border-radius: 4rem;
}

@media (max-width: 768px) {
  .containerr .textt {
    font-size: 3rem;
    border-right: 2px solid;
    width: 56vw;
    white-space: nowrap;
    overflow: hidden;
    animation: typingg 4s ease-in-out infinite,
      cursor 0.4s step-end infinite alternate;
  }
}
