.container {
  background-color: #0d0d11;
  min-height: 100vh;
  padding: 2% 0;
}

.h-con {
  display: flex;
  text-align: center;
  justify-content: center;
  height: min-content;
  height: min-content;
  margin: 2rem 0;
}
.h-con > h1 {
  display: flex;
  color: #e0e0ce;
  font-size: 4rem;
  margin: 0;
}
.h-con > h1:hover {
  transform: translateY(-0.4rem);
  cursor: pointer;
}

.container > h1 {
  color: #e0e0ce;
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
}

.container > h2 {
  color: #f2af29;
  font-size: 3rem;
  text-align: center;
  margin: 4% 0;
}

.container > h3 {
  color: #f2af29;
  font-size: 2rem;
  text-align: center;
  margin: 4% 0;
}

.social-container {
  background: #e0e0ce;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  border-radius: 4rem;
  margin: 1rem 35%;
}

a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-0.3rem);
}

a.github {
  color: #0d0d11;
}

a.linkedin {
  color: #0077b5;
}

a.instagram {
  color: rgb(190, 83, 176);
}

@media (max-width: 768px) {
  .container > h1 {
    font-size: 3rem;
  }

  .container > h2 {
    font-size: 2.5rem;
  }

  .container > h3 {
    font-size: 1.8rem;
  }

  .social-container {
    padding: 0.5rem 1rem;
    margin: 1rem 35%;
  }

  a.social {
    margin: 0 0.3rem;
  }

  .social-container {
    margin: 1rem auto;
    margin: 1rem auto;
  }

  /* .social-wrapper {
        padding: 0.5rem 1rem;
    } */

  a.social {
    margin: 0 0.3rem;
  }
}
