@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.top-btn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d00b4;
  color: #f0f0f0;
  box-shadow: 0 0 2px black;
  border-radius: 50%;
  font-size: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2.2rem;
  z-index: 999;
  cursor: pointer;
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0.2rem);
  }
}
.about {
  background-color: #24262c;
  min-height: 100vh;
  padding: 0 0;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.background-video-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  opacity: 0.15;
}

.about .content > h1 {
  padding: 0;
  color: #fff;
  text-align: center;
  display: -webkit-inline-box;
  font-size: 4rem;
  margin: 2rem 0 0 0;
  font-family: "Ubuntu", sans-serif;
}

.colour {
  color: #f2af29;
  font-weight: 700;
}

.written > h2 {
  font-size: 3rem;
  margin: 2rem 1rem;
  font-family: "Ubuntu", sans-serif;
}

.written > p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  width: 80%;
  color: #fff;
  text-align: center;
}

.about .containerr {
  display: inline-flex;
  color: #f2af29;
}

.containerr .textt {
  font-size: 3rem;
}

.split {
  height: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.left {
  width: webkit-fill-available;
  left: 0;
  text-align: center;
  padding-bottom: 0;
}

.right {
  width: -webkit-fill-available;
  justify-content: center;
}

.imge {
  width: 75%;
  margin: 0 25%;
  padding: 0;
  border-radius: 4rem;
}

@media (max-width: 768px) {
  .written > h2 {
    font-size: 2rem;
  }
  .about .content > h1 {
    font-size: 2.5rem;
  }
  .top-btn > span {
    right: 1rem;
  }
  .containerr .textt {
    font-size: 1.6rem;
  }
}
.container {
  position: relative;
  background-color: #24262c;
  min-height: 100vh;
  padding: 2% 0;
  overflow: hidden;
  z-index: 0;
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.emoji {
  animation-name: emo;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
  transition: 0.2s;
}

@keyframes emo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.content {
  position: relative;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  opacity: 0.4;
}

.h-con {
  display: flex;
  text-align: center;
  justify-content: center;
  height: -moz-min-content;
  height: min-content;
  height: min-content;
  margin-top: 2rem;
}

.content .h-con > h1 {
  display: flex;
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

.content .h-con > h1:hover {
  transform: translateY(-0.4rem);
  cursor: pointer;
}

.home-h2 {
  color: #ebe9e9;
  font-size: 3rem;
  text-align: center;
  margin: 4% 0;
}

.home-h3 {
  color: #ebe9e9;
  font-size: 2rem;
  text-align: center;
  margin: 4% 0;
}

.social-container {
  background: #ebe9e9;
  padding: 1rem 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4rem;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
}

.cv-container {
  background: #ebe9e9;
  padding: 1rem 1rem;
  border-radius: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-0.3rem);
}

a.github {
  color: #0d0d11;
  padding: 0 1rem;
}

a.linkedin {
  color: #0077b5;
  padding: 0 1rem;
}

a.instagram {
  color: rgb(190, 83, 176);
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .content .h-con > h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .home-h2 {
    font-size: 2.1rem;
    margin: 2rem 0;
  }
  .home-h3 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .social-container {
    padding: 0.5rem 1rem;
    margin: 2rem 35%;
  }
  a.social {
    margin: 0 0.3rem;
  }
  .social-container {
    margin: 3rem auto;
  }
  a.social {
    margin: 0 0rem;
  }
  .cv-container {
    margin-top: 2rem;
  }
  .cv-container > a {
    font-size: 1rem !important;
  }
}
.minifunction {
  background-color: #24262c;
}

.m-h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  color: #f2af29;
  text-align: center;
  font-size: 2.8rem;
}

.bl-ul {
  color: #ebe9e9;
}

.ex-tx {
  font-size: 2rem;
  width: 90%;
  margin: 0 5%;
}

.blog-item {
  display: flex;
  justify-content: center;
  color: #f2af29;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
}

.blog-item > li {
  color: #f2af29;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.bl-a {
  color: #0d0d11;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 1.5rem;
  background-color: #ebe9e9;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.bl-a:hover {
  transform: scale(0.9);
}

.First {
  background-color: rgb(46, 157, 217);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 80px;
  transition: 0.3s ease;
}

.First:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(56, 69, 217);
  scale: 1.1;
}

.Second {
  background-color: rgb(46, 157, 217);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 80px;
  transition: 0.3s ease;
}

.Second:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(56, 69, 217);
  scale: 1.1;
}

.post-container {
  background-color: #24262c;
}

.post-title {
  color: #ebe9e9;
  font-size: 4rem;
  text-align: center;
  padding: 1.5rem;
  text-decoration: underline;
}

.post-content {
  color: #ebe9e9;
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.photo-react {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
  transition: 0.6s ease-in-out;
}

.photo-react:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.like-button {
  color: #f2af29;
  padding-bottom: 1rem;
}

.def-col {
  color: #f2af29;
}

.b-para {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.iccon {
  padding-right: 0.2rem;
  font-size: smaller;
}

.btn-para {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: #f2af29;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
  font-weight: 700;
  padding: 1rem;
}

.btn-para:hover {
  background: #ebe9e9;
  color: #000000;
}

.like {
  padding-bottom: 5rem;
}

.gb {
  background-color: #ebe9e9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0d0d11;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  transition: 0.2s ease;
  padding: 0.2rem;
}

.gb:hover {
  transform: scale(0.9);
}

.change-btn {
  transition: 0.2s ease;
}

.change-btn:hover {
  transform: scale(0.9);
}

body {
  margin: 0;
  background-color: rgb(252, 247, 240);
}

#head {
  background-color: rgb(30, 30, 192);
  text-align: center;
  padding: 20px;
  color: white;
  font-family: cursive;
  text-shadow: 2px 2px 12px lightblue;
}

#head:hover {
  text-decoration: underline;
  text-transform: capitalize;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  cursor: pointer;
}

#container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  border: 4px solid rgb(227, 227, 227);
  border-radius: 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  box-shadow: 6px 6px 20px lightblue;
}

#image-div {
  border-radius: 50%;
  margin: 5% 2%;
}

#image {
  border-radius: 50%;
  margin: 0% 37%;
  width: 200px;
  height: 200px;
  border: 2px solid rgb(42, 42, 151);
  animation-name: breath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes breath {
  0%, 100% {
    transform: scale(0.91);
    background-color: blue;
  }
  50% {
    transform: scale(1);
    background-color: blue;
  }
}
#image:hover {
  border: 5px solid rgb(42, 42, 151);
  cursor: pointer;
}

#name {
  color: rgb(42, 42, 151);
  font-family: cursive;
  font-size: 32px;
  text-shadow: 3px 3px lightblue;
  margin: 1rem 0;
  display: inline-block;
}

#name:hover {
  text-decoration: underline;
  text-decoration-color: rgb(42, 42, 151);
  cursor: pointer;
  text-shadow: 3px 3px lightblue;
}

.text {
  font-family: cursive;
  font-size: 20px;
  margin: 1rem 0;
}

.mini-heading {
  color: rgb(42, 42, 151);
  font-family: cursive;
  font-size: 27px;
  text-shadow: 3px 3px lightblue;
  margin: 1rem 0;
}

.mini-heading:hover {
  text-decoration: underline;
  text-decoration-color: rgb(42, 42, 151);
  cursor: pointer;
  text-shadow: 3px 3px lightblue;
}

.text-two {
  font-family: cursive;
  font-size: 16px;
  margin: 1rem 0;
}

.t-area {
  max-width: 85%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  /* display: flex; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
.projects {
  background-color: #24262c;
  color: #ebe9e9;
}
.projects .p-div {
  border: 2px solid rgb(244, 244, 244);
  border-radius: 20px;
  width: 480px;
  height: 500px;
  position: relative;
  box-sizing: content-box;
  transition: 0.2s ease;
  background-image: linear-gradient(to top, #2e2e2e 0%, rgb(62, 62, 62) 100%);
}
.projects .p-div:hover {
  border: 2px solid #f2af29;
  box-shadow: 0 0 5px #f2af29;
}
.projects section,
.projects .p-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem;
  display: flex;
}
.projects section .iicon,
.projects .p-div .iicon {
  font-size: 1.5rem;
  margin-right: 0.3rem;
  vertical-align: sub;
}
.projects section .b-div,
.projects .p-div .b-div {
  display: flex;
  justify-content: center;
}
.projects section .b-div > button,
.projects section .s-btn,
.projects .p-div .b-div > button,
.projects .p-div .s-btn {
  background-color: #444;
  border: 1px solid #666;
  border-radius: 0.4rem;
  color: #ebe9e9;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem 1rem;
  transition: 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  vertical-align: middle;
}
.projects section .b-div > button:hover,
.projects section .s-btn:hover,
.projects .p-div .b-div > button:hover,
.projects .p-div .s-btn:hover {
  transform: scale(1.1);
  background-color: #555;
  box-shadow: 0 0 5px #f2af29;
}
.projects section .b-div > button:hover .git-link,
.projects section .s-btn:hover .git-link,
.projects .p-div .b-div > button:hover .git-link,
.projects .p-div .s-btn:hover .git-link {
  color: #f0f0f0;
  border: #f2af29;
}
.projects section h1,
.projects .p-div h1 {
  padding: 0;
  color: #ebe9e9;
  text-align: center;
  font-size: 2.2rem;
  filter: drop-shadow(0rem 0rem 8rem rgb(255, 255, 255));
  font-family: "Ubuntu", sans-serif;
}
.projects section h2,
.projects .p-div h2 {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.projects section p,
.projects .p-div p {
  font-size: 1rem;
  width: 90%;
  color: #ebe9e9;
  text-align: center;
}
.projects section .p-img,
.projects .p-div .p-img {
  width: 90%;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
}
.projects section .p-img:hover,
.projects .p-div .p-img:hover {
  transform: scale(1.1);
}
.projects section .git-link,
.projects .p-div .git-link {
  color: #f2af29;
  text-decoration: none;
}

@media (max-width: 768px) {
  .projects-container {
    padding: 2rem;
    justify-content: center;
  }
  .p-div {
    width: 100% !important;
    height: auto !important;
  }
  .projects .p-div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .projects .p-div h1,
  .projects .p-div h2,
  .projects .p-div img {
    margin-bottom: 1rem;
  }
  .projects .p-div .b-div {
    justify-content: space-around;
    display: grid;
    gap: 1rem;
  }
  .projects .p-div .b-div > button,
  .s-btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem 1rem;
    margin: 0;
    text-decoration: none;
    transition: 0.25s ease;
    white-space: normal;
  }
}/*# sourceMappingURL=index.css.map */