@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;400;500;600;700;800&display=swap');

// ABOUT SECTION ===================================================================================>
* {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.top-btn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08040c;
  color: #f0f0f0;
  border-radius: 50%;
  font-size: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2.2rem;
  z-index: 999;
  cursor: pointer;
  animation: gototop 1.2s linear infinite alternate-reverse;
}

.top-btn > span:hover{
  background-color: #5d00b4;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0.1rem);
  }
}

.about {
  background-color: #161616;
  min-height: 100vh;
  padding: 0 0;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.background-video-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0.15;
}
.about .content > h1,
.skill-h1 {
  padding: 0;
  color: #fff;
  text-align: center;
  display: -webkit-inline-box;
  font-size: 4rem;
  margin: 2rem 0 0 0;
  font-family: "Ubuntu", sans-serif;
}
.colour {
  color: #f2af29;
  font-weight: 700;
}
.written > h2 {
  font-size: 3rem;
  margin: 2rem 1rem;
  font-family: "Ubuntu", sans-serif;
}
.written > p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  width: 80%;
  color: #fff;
  text-align: center;
}
.about .containerr {
  display: inline-flex;
  color: #f2af29;
}
.containerr .textt {
  font-size: 3rem;
  // border-right: 2px solid;
}
.abt-pic {
  width: 100%;
  border-radius: 24px;
  vertical-align: middle;
  border: 2px solid #ebe9e9;
  box-shadow: 12px 12px 0px rgba(208, 208, 208, 0.19);
}
.abt-r-l {
  display: flex;
  padding: 3rem 2rem 3rem 0;
  justify-content: space-between;
  margin: 2rem 0;
  border: 1px solid white;
  border-radius: 24px;
  width: 90%;
}
@media (max-width: 1024px) {
  .abt-l > p {
    font-size: 1.05rem !important;
  }
}
@media (max-width: 768px) {
  .abt-l > p {
    font-size: 0.82rem !important;
  }
  .abt-r-l {
    margin: 1rem 0;
  }
  .abt-l {
    padding: 0 2rem !important;
  }
}
@media (max-width: 600px) {
  .abt-r-l {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 1rem 0;
  }
  .abt-l {
    width: 100% !important;
  }
  .abt-l > p {
    text-align: justify !important;
    font-size: .85rem !important;
  }
  .abt-r {
    width: 100% !important;
    padding: 0 1rem;
  }
  .abt-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem !important;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 8px 8px 0px rgba(208, 208, 208, 0.19);
  }
}
.abt-l {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 5rem;
}
.abt-l > p {
  font-size: 1.65rem;
  text-align: left;
}
.abt-r {
  width: 35%;
  display: flex;
  justify-content: center;
}
.split {
  height: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.left {
  width: webkit-fill-available;
  left: 0;
  text-align: center;
  padding-bottom: 0;
  justify-content: center;
}
.written {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  width: -webkit-fill-available;
  justify-content: center;
}
.imge {
  width: 75%;
  margin: 0 25%;
  padding: 0;
  border-radius: 4rem;
}

.skills-div {
  margin: 3rem 1rem;
}
@media (max-width:600px){
  .skills-div{
    margin: 3rem .8rem;
  }
}
.skills {
  background-color: rgb(44 60 82);
  background-image: linear-gradient(to top, #2e2e2e 0%, rgb(62, 62, 62) 100%);
  border-radius: 1rem;
  border: 2px solid #ebe9e9;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  margin: 0 1rem;
  width: 240px;
  flex-direction: column;
  transition: 300ms ease-in-out;
  transform: scale(0.89);
}
.skills > h1 {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-top: 0.45rem;
}
.skills:hover {
  transform: scale(0.95);
  border: 2px solid #f2af29;
  box-shadow: 0 0 5px #f2af29;
  color: #f2af29;
}
@media (max-width: 768px) {
  .written > h2 {
    font-size: 2rem;
  }
  .about .content > h1,
  .skill-h1 {
    font-size: 2.8rem;
  }
  .skills {
    width: 150px;
    h1 {
      font-size: 1.1rem;
    }
  }
  .top-btn > span {
    right: 1rem;
  }
  .containerr .textt {
    font-size: 1.6rem;
  }
  .written > p {
    font-size: 1rem;
    text-align: center;
  }
}

// ABOUT SECTION END ======================================================>

//CONTACT SECTION ==========================================================>
//CONTACT SECTION END ===========================>

//HOME SECTION ========================================================>
.container {
  position: relative;
  background-color: #161616;
  min-height: 100dvh;
  padding: 2% 0;
  overflow: hidden;
  z-index: 0;
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.emoji {
  animation-name: emo;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
  transition: 0.2s;
}
@keyframes emo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.content {
  position: relative;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0.4;
}

.h-con {
  display: flex;
  text-align: center;
  justify-content: center;
  height: min-content;
  height: min-content;
  margin-top: 4rem;
}
.content .h-con > h1 {
  display: flex;
  color: #fff;
  font-size: 4rem;
  margin: 0;
}
.content .h-con > h1:hover {
  transform: translateY(-0.4rem);
  cursor: pointer;
}

.home-h2 {
  color: #ebe9e9;
  font-size: 3rem;
  text-align: center;
  margin: 4% 0;
}

.home-h3 {
  color: #ebe9e9;
  font-size: 2rem;
  text-align: center;
  margin: 4% auto;
  width: max-content;
  transition: .3s ease;
  background-image: url(https://media.istockphoto.com/id/1390512992/vector/colorful-line-doodle-seamless-pattern.jpg?s=612x612&w=0&k=20&c=I6BUaoCNsnu-ahWb7HDYUgXOW6sZnlNFtBlzm9JMFiM=);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
}
.home-h3 span{
  transition: all .3s ease;
}
.home-h3 span:hover{
  color: transparent;
}


.social-container {
  background: #ebe9e9;
  padding: 0.8rem 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4rem;
  margin-bottom: 2rem;
  width: fit-content;
}


.cv-container {
  background: #ebe9e9;
  padding: 1rem 1rem;
  border-radius: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-items: center;
}

a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}


a.social:hover {
  transform: scale(0.98);
}

a.github {
  color: #0d0d11;
  padding: 0 1rem;
}

a.linkedin {
  color: #0077b5;
  padding: 0 1rem;
}

a.instagram {
  color: rgb(190, 83, 176);
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .content .h-con > h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .home-h2 {
    font-size: 2.1rem;
    margin: 2rem 0;
  }

  .home-h3 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  a.social {
    margin: 0 0.3rem;
  }

  a.social {
    margin: 0 0rem;
  }
  .cv-container {
    margin-top: 2rem;
  }
  .cv-container > a {
    font-size: 1rem !important;
  }
  .h-con{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-bottom: -2rem;
  }
}

//HOME SECTION END ========================================================>

//BLOG-LIST SECTION ========================================================>

.minifunction {
  background-color: #161616;
}

.m-h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  color: #f2af29;
  text-align: center;
  font-size: 2.8rem;
}

.bl-ul {
  color: #ebe9e9;
}

.ex-tx {
  font-size: 2rem;
  width: 90%;
  margin: 0 5%;
  text-align: center;
}
.blog-item {
  display: flex;
  justify-content: center;
  color: #f2af29;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
}

.blog-item > li {
  color: #f2af29;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.bl-a {
  color: #0d0d11;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 1.5rem;
  background-color: #ebe9e9;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.bl-a:hover {
  transform: scale(0.9);
}
.line-styling {
  height: 4rem;
  width: 90%;

  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.line-styling .style-circle {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ebe9e9;
  border-radius: 50%;
}
.line-styling .style-line {
  width: 93%;
  height: 0.2rem;
  border-radius: 0.7rem;
  background-color: #ebe9e9;
}

//BLOG-LIST SECTION END ========================================================>

//COUNTER SECTION ========================================================>

.First {
  background-color: rgb(46, 157, 217);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
  transition: 0.3s ease;
}
.First:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(56, 69, 217);
  scale: 1.1;
}
.Second {
  background-color: rgb(46, 157, 217);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 80px;
  transition: 0.3s ease;
}
.Second:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(56, 69, 217);
  scale: 1.1;
}
.counter-icon{
  font-size: 4rem;
  display: flex;
  margin-inline: auto;
}
//COUNTER SECTION END ========================================================>

//SINGLE POST SECTION ========================================================>
.post-container {
  background-color: #161616;
}

.post-title {
  color: #ebe9e9;
  font-size: 4rem;
  text-align: center;
  padding: 1.5rem;
  text-decoration: underline;
}

.post-content {
  color: #ebe9e9;
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  text-align: justify;
}
.photo-react {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
  transition: 0.6s ease-in-out;
}
.photo-react:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.like-button {
  color: #f2af29;
  padding-bottom: 1rem;
}

.def-col {
  color: #f2af29;
}

.b-para {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.iccon {
  padding-right: 0.2rem;
  font-size: smaller;
}
.btn-para {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: #f2af29;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
  font-weight: 700;
  padding: 1rem;
}
.btn-para:hover {
  background: #ebe9e9;
  color: #000000;
}
.like {
  padding-bottom: 5rem;
}
.gb {
  background-color: #ebe9e9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0d0d11;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  transition: 0.2s ease;
  padding: 0.2rem;
  width: fit-content;
}
.gb:hover {
  transform: scale(0.9);
}

//SINGLE POST SECTION END ========================================================>

//SECOND SECTION END ========================================================>
.change-btn {
  transition: 0.2s ease;
}
.change-btn:hover {
  transform: scale(0.9);
}
//SECOND SECTION END ========================================================>

//NAVBAR SECTION ========================================================>
//NAVBAR SECTION END ========================================================>

//PORTFOLIO SECTION  ========================================================>
body {
  margin: 0;
  background-color: rgb(252, 247, 240);
}

#head {
  background-color: rgb(30, 30, 192);
  text-align: center;
  padding: 20px;
  color: white;
  font-family: cursive;
  text-shadow: 2px 2px 12px lightblue;
}

#head:hover {
  text-decoration: underline;
  text-transform: capitalize;
  text-decoration: wavy;
  cursor: pointer;
}

#container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  border: 4px solid rgb(227 227 227);
  border-radius: 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  box-shadow: 6px 6px 20px lightblue;
}

#image-div {
  border-radius: 50%;
  margin: 5% 2%;
}

#image {
  border-radius: 50%;
  margin: 0% 37%;
  width: 200px;
  height: 200px;
  border: 2px solid rgb(42, 42, 151);
  animation-name: breath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes breath {
  0%,
  100% {
    transform: scale(0.91);
    background-color: blue;
  }

  50% {
    transform: scale(1);
    background-color: blue;
  }
}

#image:hover {
  border: 5px solid rgb(42, 42, 151);
  cursor: pointer;
}

#name {
  color: rgb(42, 42, 151);
  font-family: cursive;
  font-size: 32px;
  text-shadow: 3px 3px lightblue;
  margin: 1rem 0;
  display: inline-block;
}

#name:hover {
  text-decoration: underline;
  text-decoration-color: rgb(42, 42, 151);
  cursor: pointer;
  text-shadow: 3px 3px lightblue;
}

.text {
  font-family: cursive;
  font-size: 20px;
  margin: 1rem 0;
}

.mini-heading {
  color: rgb(42, 42, 151);
  font-family: cursive;
  font-size: 27px;
  text-shadow: 3px 3px lightblue;
  margin: 1rem 0;
}

.mini-heading:hover {
  text-decoration: underline;
  text-decoration-color: rgb(42, 42, 151);
  cursor: pointer;
  text-shadow: 3px 3px lightblue;
}

.text-two {
  font-family: cursive;
  font-size: 16px;
  margin: 1rem 0;
}

.t-area {
  max-width: 85%;
}

//PORTFOLIO SECTION END  ========================================================>

//CHILD PROP SECTION  ========================================================>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  /* display: flex; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
//CHILD PROP SECTION END  ========================================================>x

//PROJECTS SECTION  ========================================================>
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.projects {
  background-color: #161616;
  color: #ebe9e9;

  .p-div {
    border: 2px solid rgb(244, 244, 244);
    border-radius: 20px;
    width: 480px;
    height: 500px;
    position: relative;
    box-sizing: content-box;
    margin: 2rem 0;
    transition: 0.2s ease;
    // background-image: linear-gradient(to top, #2e2e2e 0%, rgb(62, 62, 62) 100%);
    background-color: #232323;
  }

  .p-div:hover {
    border: 2px solid #f2af29;
    box-shadow: 0 0 5px #f2af29;
  }

  section,
  .p-div {
    flex-direction: column;
    align-items: center;
    display: flex;

    .iicon {
      font-size: 1.5rem;
      margin-right: 0.3rem;
      vertical-align: sub;
    }

    .b-div {
      display: flex;
      justify-content: center;
    }

    .b-div > button,
    .s-btn {
      background-color: #444;
      border: 1px solid #666;
      border-radius: 0.4rem;
      color: #ebe9e9;
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      margin: 0.5rem 1rem;
      transition: 0.25s ease;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
    }

    .b-div > button:hover,
    .s-btn:hover {
      background-color: #555;
      color: #f2af29;
      border: #f2af29;
      box-shadow: 0 0 5px #f2af29;
      .git-link {
        color: #f2af29;
        border: #f2af29;
      }
    }

    h1 {
      padding: 0;
      color: #f2af29;
      text-align: center;
      margin: 2rem 0;
      font-size: 2.2rem;
      filter: drop-shadow(0rem 0rem 8rem rgb(255, 255, 255));
      font-family: "Ubuntu", sans-serif;
    }

    h2 {
      font-size: 1.3rem;
      text-align: center;
      font-family: "Ubuntu", sans-serif;
    }

    p {
      font-size: 1rem;
      width: 90%;
      color: #ebe9e9;
      text-align: center;
    }

    .p-img {
      width: 100%;
      height: 50%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 20px 20px 0  0;
      transition: 0.3s ease;
    }

    .git-link {
      color: #ebe9e9;
      text-decoration: none;
    }

    .v-txt {
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      background: none;
      border: none;
    }

    .v-btn {
      background-color: #444;
      border: 1px solid #666;
      border-radius: 0.4rem;
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      padding: 0.5rem;
      text-align: center;
      text-decoration: none;
      transition: 0.25s ease;
      -webkit-user-select: none;
      width: 100%;
      user-select: none;
    }
    .v-btn:hover {
      background-color: #555;
      box-shadow: 0 0 5px #f2af29;
      .git-link {
        color: #f2af29;
        border: #f2af29;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects-container {
    padding: 2rem;
    justify-content: center;
  }

  .a-btns{
    padding-bottom: 2rem;
  }

  .p-div {
    width: 80% !important;
    height: auto !important;
  }

  .projects .p-div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
  }

  .projects .p-div .b-div .s-btn {
    display: block;
    margin: 0rem 1rem 2rem 1rem;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .projects section .v-btn,
  .projects .p-div .v-btn {
    margin-top: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .p-div .b-div > button,
  .s-btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem 1rem;
    margin: 0;
    text-decoration: none;
    transition: 0.25s ease;
    white-space: normal;
  }
}

//PROJECTS SECTION END ========================================================>

//PROJECTS DETAILS SECTION ========================================================>
.project-details {
  min-height: 100vh;
  background-color: #161616;
}

.project-details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ebe9e9;

  h1 {
    font-size: 4rem;
    margin: 2rem 0;
    color: #f2af29;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    width: 60%;
    text-align: center;
    margin: 0 20% 2rem 20%;
  }
  h3 {
    font-size: 1.5rem;
    width: 80%;
    margin: 0rem 10% 2rem 10%;
    text-align: justify;
    font-weight: 400;
  }
  span {
    font-size: 2rem;
    text-align: start;
    margin-left: 10%;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  p {
    font-size: 1.5rem;
    width: 80%;
    margin: 0rem 10% 2rem 10%;
    text-align: justify;
  }
  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    .time {
      margin: 2rem 0 0rem 0;
      color: #f2af29;
      font-weight: 500;
    }
  }
  .technology {
    display: flex;
    flex-direction: column;
    .techno {
      margin: 0rem 10% 0.5rem 10%;
      text-align: center;
    }
    .names {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 50%;
      align-self: center;
      li {
        background-color: #666;
        color: #f2af29;
        font-weight: 500;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0.3rem;
      }
      li:hover {
        box-shadow: 0 0 6px #f2af29;
      }
    }
  }
}

.pd-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.gb-div {
  display: flex;
  justify-content: center;
}

.back-button {
  position: fixed;
  padding: 0.2rem;
  border-radius: 50%;
  left: 3%;
  bottom: 6%;
  background-color: #ebe9e9;
  color: #161616;
  border: none;
  font-size: 1.8rem;
  vertical-align: middle;
  transition: 0.3s ease;
  animation: goback 1.2s linear infinite alternate-reverse;
}

.back-button:hover {
  color: #5d00b4;
}

@keyframes goback {
  0% {
    transform: translateX(-0.05rem);
  }
  100% {
    transform: translateX(0.05rem);
  }
}

@media (max-width: 768px) {
  .project-details-div {
    h1 {
      font-size: 2.3rem;
    }
    h2 {
      font-size: 1.8rem;
      width: 90%;
      margin: 0 5% 2rem 5%;
    }
    span {
      font-size: 1.7rem;
    }
    h3,
    p {
      text-align: justify;
    }
    p {
      margin-bottom: 5rem;
    }
    .frame {
      margin-bottom: 2rem;
      text-align: center;
    }
    .tech {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 0;
      .time {
        text-align: right;
      }
    }
    .technology {
      .names {
        width: 80%;
        margin-bottom: 2rem;
      }
    }
  }
  .pd-img {
    width: 90%;
  }
}
.back-button {
  bottom: 4%;
}
@media (max-width: 990px) {
  .project-details-div {
    .technology {
      .names {
        width: 65%;
      }
    }
  }
}
//PROJECTS SECTION END ========================================================>
